<% flash.each do |type, msg| %>
  <% if flash[:notice]%>
    <div class="alert alert-info" role="alert">
      <%= msg %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>