<% flash.each do |type, msg| %>
  <% if flash[:notice]%>
    <div class="alert alert-info m-3" role="alert">
      <%= msg %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning m-3" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>